{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block extra_css %}{% endblock %}
</head>

<body>
    <div class="container">
        <div class="nav">
            <a href="/">Загрузка файла</a>
            <a href="/table/">Таблица</a>
        </div>

        {% block content %}{% endblock %}
    </div>

    {% block extra_js %}{% endblock %}
</body>

</html>