{% extends 'layout.html' %}

{% block title %}Таблица данных{% endblock %}

{% block content %}
<h1>Таблица загруженных данных</h1>

<table id="entryTable" class="display">
    <thead>
        <tr>
            <th>Имя</th>
            <th>Дата</th>
        </tr>
    </thead>
    <tbody>
        {% for entry in entries %}
        <tr>
            <td>{{ entry.name }}</td>
            <td>{{ entry.date|date:"Y-m-d H:i" }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="https://cdn.datatables.net/2.3.6/css/dataTables.dataTables.min.css">
{% endblock %}

{% block extra_js %}
<script src="https://code.jquery.com/jquery-4.0.0.min.js"></script>
<script src="https://cdn.datatables.net/2.3.6/js/dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#entryTable').DataTable({
            "language": {
                "lengthMenu": "Показать _MENU_ записей на странице",
                "zeroRecords": "Записи не найдены",
                "info": "Показано _START_ до _END_ из _TOTAL_ записей",
                "infoEmpty": "Показано 0 до 0 из 0 записей",
                "infoFiltered": "(отфильтровано из _MAX_ всего записей)",
                "search": "Поиск:",
                "paginate": {
                    "first": "Первая",
                    "last": "Последняя",
                    "next": "Следующая",
                    "previous": "Предыдущая"
                }
            },
            "pageLength": 25,
            "order": [[1, "desc"]]
        });
    });
</script>
{% endblock %}